/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
body {
    font-family: Arial, sans-serif;
    background-color: #afa3a3;
    margin: 0;
    padding: 18px;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #e4cccc;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  h3 {
    color: #333;
    font-size: 20px;
    margin-top: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="password"],
  select,
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  input[type="submit"]:hover {
    background-color: #0056b3;
  }
  
 
  input[type="radio"] {
    margin-right: 5px;
  }
  

  select[multiple] {
    height: 100px;
  }
  
  #SO {
    width: 100%;
  }
  
  textarea {
    resize: vertical;
  }
  
  input[type="radio"] {
    margin-right: 5px;
  }
  
  form {
    margin-bottom: 30px;
  }
  
  .container {
    background-color: #ddb9b9;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  }
  h1 {
    text-align: center;
}