/* Estilo para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Estilo para el formulario */
form {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
    text-align: center;
}

/* Estilo para etiquetas y campos de entrada */
label, input {
    display: block;
    margin-bottom: 10px;
}

/* Estilo para el botón de enviar */
input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

/* Estilo para el saludo */
p {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    color: #333;
}
